In [303]:
import pandas as pd
df = pd.read_csv("car_price_prediction.csv")

df.head(50)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
5,45802912,39493,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,04-May,Left wheel,White,4
6,45656768,1803,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4.0,Automatic,Front,04-May,Left wheel,White,12
7,45816158,549,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4.0,Automatic,Front,04-May,Left wheel,Grey,12
8,45641395,1098,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4.0,Automatic,Front,04-May,Left wheel,Black,12
9,45756839,26657,-,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
10,45621750,941,1053,MERCEDES-BENZ,E 350,2014,Sedan,Yes,Diesel,3.5,184467 km,6.0,Automatic,Rear,04-May,Left wheel,White,12
11,45814819,8781,-,FORD,Transit,1999,Microbus,No,CNG,4,0 km,8.0,Manual,Rear,02-Mar,Left wheel,Blue,0
12,45815568,3000,-,OPEL,Vectra,1997,Goods wagon,No,CNG,1.6,350000 km,4.0,Manual,Front,04-May,Left wheel,White,4
13,45661288,1019,1055,LEXUS,RX 450,2013,Jeep,Yes,Hybrid,3.5,138038 km,6.0,Automatic,Front,04-May,Left wheel,White,12
14,45732604,59464,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,76000 km,4.0,Automatic,Front,04-May,Left wheel,White,4
15,45465200,549,1079,TOYOTA,CHR,2018,Jeep,Yes,Petrol,2,74146 km,4.0,Automatic,Front,04-May,Left wheel,White,12
16,45772281,7683,810,HYUNDAI,Elantra,2016,Sedan,Yes,Petrol,1.8,121840 km,4.0,Automatic,Front,04-May,Left wheel,Blue,12
17,45797221,28382,810,HYUNDAI,Elantra,2016,Sedan,Yes,Petrol,1.8,54317 km,4.0,Automatic,Front,04-May,Left wheel,White,4
18,45772104,549,2386,HYUNDAI,Sonata,2006,Sedan,Yes,Petrol,3.3,295059 km,6.0,Automatic,Rear,04-May,Left wheel,Blue,12
19,45653306,941,1850,LEXUS,RX 400,2008,Jeep,Yes,Hybrid,3.5,364523 km,6.0,Automatic,4x4,04-May,Left wheel,Black,12
20,45801686,18826,531,HYUNDAI,Elantra,2012,Sedan,Yes,Petrol,1.6,112645 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
21,45168471,20698,586,TOYOTA,Prius,2012,Sedan,Yes,Plug-in Hybrid,1.8,187000 km,4.0,Automatic,Front,04-May,Left wheel,White,12
22,45751951,17562,1249,TOYOTA,Camry,2017,Sedan,Yes,Petrol,2.5,39709 km,4.0,Automatic,Front,04-May,Left wheel,Black,12
23,45814106,7840,-,FORD,Transit,2001,Microbus,No,Diesel,2.0 Turbo,230000 km,4.0,Manual,Front,02-Mar,Left wheel,White,0
24,45813492,4704,-,OPEL,Vectra,1995,Sedan,No,Petrol,1.8,0 km,4.0,Automatic,Front,04-May,Left wheel,Green,4
25,45782859,20385,-,MERCEDES-BENZ,E 220,2006,Sedan,Yes,Diesel,2.2 Turbo,210000 km,4.0,Tiptronic,Rear,04-May,Left wheel,Black,8
26,45759112,549,2455,LEXUS,GX 470,2008,Jeep,Yes,Petrol,4.7,0 km,8.0,Automatic,4x4,04-May,Left wheel,White,0
27,45804684,30,-,TOYOTA,Prius,2008,Sedan,No,Hybrid,1.5,169000 km,4.0,Automatic,Front,04-May,Left wheel,White,8
28,45801525,14454,583,HYUNDAI,Elantra,2011,Sedan,Yes,Petrol,1.6,158787 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
29,45768550,12074,1537,TOYOTA,Highlander,2009,Jeep,Yes,Hybrid,3.3,420550 km,6.0,Automatic,4x4,04-May,Left wheel,Blue,12
30,44944581,15681,1288,MERCEDES-BENZ,Vito,2007,Goods wagon,No,Diesel,2.0 Turbo,180000 km,6.0,Manual,Rear,04-May,Left wheel,White,4
31,45760983,19444,915,PORSCHE,Cayenne,2014,Jeep,Yes,Diesel,3,175056 km,6.0,Automatic,4x4,04-May,Left wheel,White,12
32,45790136,6899,-,BMW,X5,2000,Jeep,Yes,CNG,4.4,200000 km,8.0,Automatic,4x4,04-May,Left wheel,Silver,6
33,45770026,125,1750,TOYOTA,Highlander,2008,Sedan,Yes,Hybrid,3.3,287274 km,6.0,Automatic,4x4,04-May,Left wheel,White,12
34,45542380,24462,-,JEEP,Grand Cherokee,2007,Jeep,Yes,Diesel,3.0 Turbo,250000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,10
35,45732374,23235,707,HYUNDAI,Santa FE,2011,Jeep,Yes,Diesel,2,162000 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
36,45369569,51746,1077,TOYOTA,CHR Limited,2019,Jeep,No,Petrol,2,10200 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,12
37,45642526,7527,1486,HONDA,FIT,2010,Hatchback,No,Hybrid,1.3,158000 km,4.0,Automatic,Front,04-May,Right-hand drive,Black,4
38,45801668,19121,531,HYUNDAI,Elantra,2012,Sedan,Yes,Petrol,1.6,103490 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
39,45661296,314,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,382746 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
40,45815051,24462,751,TOYOTA,Camry,2013,Sedan,Yes,Petrol,2.4,203200 km,4.0,Automatic,Front,04-May,Left wheel,Blue,4
41,45797488,45734,1091,HYUNDAI,H1,2016,Universal,Yes,Diesel,2.5,61057 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
42,45667253,20165,650,VOLKSWAGEN,Jetta,2016,Sedan,Yes,Petrol,1.4 Turbo,11200 km,4.0,Tiptronic,Front,04-May,Left wheel,Black,8
43,45108412,21326,382,HYUNDAI,Sonata,2014,Sedan,Yes,Hybrid,2.4,141000 km,4.0,Tiptronic,Front,04-May,Left wheel,White,12
44,45810322,549,1436,PORSCHE,Cayenne,2010,Jeep,Yes,Petrol,3.6,160259 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
45,45769564,220,1194,TOYOTA,Tacoma,2013,Jeep,Yes,Petrol,4,239342 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
46,45726453,15681,503,TOYOTA,Prius C,2012,Hatchback,No,Hybrid,1.5,128000 km,4.0,Variator,Front,04-May,Left wheel,Sky blue,8
47,45732544,55390,1017,HYUNDAI,Santa FE,2017,Jeep,Yes,Diesel,2,100734 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
48,45811563,12544,-,TOYOTA,Aqua,2012,Hatchback,No,Hybrid,1.5,141500 km,4.0,Automatic,Front,04-May,Right-hand drive,Black,8
49,45699930,17249,-,FORD,Escape Hybrid,2008,Jeep,No,Hybrid,2.3,147000 km,4.0,Variator,4x4,04-May,Left wheel,White,8

In [305]:
df["Fuel type"].unique()

array(['Hybrid', 'Petrol', 'Diesel', 'CNG', 'Plug-in Hybrid', 'LPG',
       'Hydrogen'], dtype=object)

In [266]:
df.shape

(19237, 18)

In [267]:
df.isna().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [268]:
df = df.drop_duplicates()

In [269]:
df.nunique()

ID                  18924
Price                2315
Levy                  559
Manufacturer           65
Model                1590
Prod. year             54
Category               11
Leather interior        2
Fuel type               7
Engine volume         107
Mileage              7687
Cylinders              13
Gear box type           4
Drive wheels            3
Doors                   3
Wheel                   2
Color                  16
Airbags                17
dtype: int64

In [270]:
df["Levy"].unique()

array(['1399', '1018', '-', '862', '446', '891', '761', '751', '394',
       '1053', '1055', '1079', '810', '2386', '1850', '531', '586',
       '1249', '2455', '583', '1537', '1288', '915', '1750', '707',
       '1077', '1486', '1091', '650', '382', '1436', '1194', '503',
       '1017', '1104', '639', '629', '919', '781', '530', '640', '765',
       '777', '779', '934', '769', '645', '1185', '1324', '830', '1187',
       '1111', '760', '642', '1604', '1095', '966', '473', '1138', '1811',
       '988', '917', '1156', '687', '11714', '836', '1347', '2866',
       '1646', '259', '609', '697', '585', '475', '690', '308', '1823',
       '1361', '1273', '924', '584', '2078', '831', '1172', '893', '1872',
       '1885', '1266', '447', '2148', '1730', '730', '289', '502', '333',
       '1325', '247', '879', '1342', '1327', '1598', '1514', '1058',
       '738', '1935', '481', '1522', '1282', '456', '880', '900', '798',
       '1277', '442', '1051', '790', '1292', '1047', '528', '1211',
       '1493', '1793', '574', '930', '1998', '271', '706', '1481', '1677',
       '1661', '1286', '1408', '1090', '595', '1451', '1267', '993',
       '1714', '878', '641', '749', '1511', '603', '353', '877', '1236',
       '1141', '397', '784', '1024', '1357', '1301', '770', '922', '1438',
       '753', '607', '1363', '638', '490', '431', '565', '517', '833',
       '489', '1760', '986', '1841', '1620', '1360', '474', '1099', '978',
       '1624', '1946', '1268', '1307', '696', '649', '666', '2151', '551',
       '800', '971', '1323', '2377', '1845', '1083', '694', '463', '419',
       '345', '1515', '1505', '2056', '1203', '729', '460', '1356', '876',
       '911', '1190', '780', '448', '2410', '1848', '1148', '834', '1275',
       '1028', '1197', '724', '890', '1705', '505', '789', '2959', '518',
       '461', '1719', '2858', '3156', '2225', '2177', '1968', '1888',
       '1308', '2736', '1103', '557', '2195', '843', '1664', '723',
       '4508', '562', '501', '2018', '1076', '1202', '3301', '691',
       '1440', '1869', '1178', '418', '1820', '1413', '488', '1304',
       '363', '2108', '521', '1659', '87', '1411', '1528', '3292', '7058',
       '1578', '627', '874', '1996', '1488', '5679', '1234', '5603',
       '400', '889', '3268', '875', '949', '2265', '441', '742', '425',
       '2476', '2971', '614', '1816', '1375', '1405', '2297', '1062',
       '1113', '420', '2469', '658', '1951', '2670', '2578', '1995',
       '1032', '994', '1011', '2421', '1296', '155', '494', '426', '1086',
       '961', '2236', '1829', '764', '1834', '1054', '617', '1529',
       '2266', '637', '626', '1832', '1016', '2002', '1756', '746',
       '1285', '2690', '1118', '5332', '980', '1807', '970', '1228',
       '1195', '1132', '1768', '1384', '1080', '7063', '1817', '1452',
       '1975', '1368', '702', '1974', '1781', '1036', '944', '663', '364',
       '1539', '1345', '1680', '2209', '741', '1575', '695', '1317',
       '294', '1525', '424', '997', '1473', '1552', '2819', '2188',
       '1668', '3057', '799', '1502', '2606', '552', '1694', '1759',
       '1110', '399', '1470', '1174', '5877', '1474', '1688', '526',
       '686', '5908', '1107', '2070', '1468', '1246', '1685', '556',
       '1533', '1917', '1346', '732', '692', '579', '421', '362', '3505',
       '1855', '2711', '1586', '3739', '681', '1708', '2278', '1701',
       '722', '1482', '928', '827', '832', '527', '604', '173', '1341',
       '3329', '1553', '859', '167', '916', '828', '2082', '1176', '1108',
       '975', '3008', '1516', '2269', '1699', '2073', '1031', '1503',
       '2364', '1030', '1442', '5666', '2715', '1437', '2067', '1426',
       '2908', '1279', '866', '4283', '279', '2658', '3015', '2004',
       '1391', '4736', '748', '1466', '644', '683', '2705', '1297', '731',
       '1252', '2216', '3141', '3273', '1518', '1723', '1588', '972',
       '682', '1094', '668', '175', '967', '402', '3894', '1960', '1599',
       '2000', '2084', '1621', '714', '1109', '3989', '873', '1572',
       '1163', '1991', '1716', '1673', '2562', '2874', '965', '462',
       '605', '1948', '1736', '3518', '2054', '2467', '1681', '1272',
       '1205', '750', '2156', '2566', '115', '524', '3184', '676', '1678',
       '612', '328', '955', '1441', '1675', '3965', '2909', '623', '822',
       '867', '3025', '1993', '792', '636', '4057', '3743', '2337',
       '2570', '2418', '2472', '3910', '1662', '2123', '2628', '3208',
       '2080', '3699', '2913', '864', '2505', '870', '7536', '1924',
       '1671', '1064', '1836', '1866', '4741', '841', '1369', '5681',
       '3112', '1366', '2223', '1198', '1039', '3811', '3571', '1387',
       '1171', '1365', '1531', '1590', '11706', '2308', '4860', '1641',
       '1045', '1901'], dtype=object)

In [271]:
df["Levy"].mode()

0    -
Name: Levy, dtype: object

In [272]:
df["Doors"].unique()

array(['04-May', '02-Mar', '>5'], dtype=object)

In [273]:
df.drop(columns=["Levy", "Doors"],inplace = True)

In [274]:
df["Prod_year"] = df["Prod. year"]

In [275]:
df["Fuel_type"] = df["Fuel type"]

In [276]:
df["Gear_box_type"] = df["Gear box type"]

In [277]:
df["Engine_volume"] = df["Engine volume"]

In [278]:
df["Leather_interior"] = df["Leather interior"]

In [279]:
df["Drive_wheels"] = df["Drive wheels"]

In [280]:
df_cars = df[["ID","Price","Manufacturer","Model","Prod_year","Category","Mileage","Color"]]

In [281]:
df_technique = df[["ID","Fuel_type","Engine_volume","Cylinders","Gear_box_type","Leather_interior","Airbags","Drive_wheels","Wheel"]]

In [302]:
df_technique.nunique()

ID                  18924
Fuel_type               7
Engine_volume         107
Cylinders              13
Gear_box_type           4
Leather_interior        2
Airbags                17
Drive_wheels            3
Wheel                   2
dtype: int64

In [282]:
df_cars['Mileage'] = df_cars['Mileage'].str.replace(' km', '', regex=False)

# Convertir la columna a tipo numrico si es necesario
df_cars['Mileage'] = pd.to_numeric(df_cars['Mileage'], errors='coerce')

/var/folders/6s/_0sz4qd138bbhl9jtknv8m000000gn/T/ipykernel_19525/2480859858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cars['Mileage'] = df_cars['Mileage'].str.replace(' km', '', regex=False)
/var/folders/6s/_0sz4qd138bbhl9jtknv8m000000gn/T/ipykernel_19525/2480859858.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cars['Mileage'] = pd.to_numeric(df_cars['Mileage'], errors='coerce')

In [283]:
df_cars.min()

ID               20746880
Price                   1
Manufacturer        ACURA
Model              09-Mar
Prod_year            1939
Category        Cabriolet
Mileage                 0
Color               Beige
dtype: object

In [284]:
df_cars = df_cars[df_cars["Mileage"] < 800000]
df_cars

,ID,Price,Manufacturer,Model,Prod_year,Category,Mileage,Color
0,45654403,13328,LEXUS,RX 450,2010,Jeep,186005,Silver
1,44731507,16621,CHEVROLET,Equinox,2011,Jeep,192000,Black
2,45774419,8467,HONDA,FIT,2006,Hatchback,200000,Black
3,45769185,3607,FORD,Escape,2011,Jeep,168966,White
4,45809263,11726,HONDA,FIT,2014,Hatchback,91901,Silver
...,...,...,...,...,...,...,...,...
19232,45798355,8467,MERCEDES-BENZ,CLK 200,1999,Coupe,300000,Silver
19233,45778856,15681,HYUNDAI,Sonata,2011,Sedan,161600,Red
19234,45804997,26108,HYUNDAI,Tucson,2010,Jeep,116365,Grey
19235,45793526,5331,CHEVROLET,Captiva,2007,Jeep,51258,Black
19236,45813273,470,HYUNDAI,Sonata,2012,Sedan,186923,White

In [285]:
df_cars = df_cars[df_cars["Price"] > 200]
df_cars

,ID,Price,Manufacturer,Model,Prod_year,Category,Mileage,Color
0,45654403,13328,LEXUS,RX 450,2010,Jeep,186005,Silver
1,44731507,16621,CHEVROLET,Equinox,2011,Jeep,192000,Black
2,45774419,8467,HONDA,FIT,2006,Hatchback,200000,Black
3,45769185,3607,FORD,Escape,2011,Jeep,168966,White
4,45809263,11726,HONDA,FIT,2014,Hatchback,91901,Silver
...,...,...,...,...,...,...,...,...
19232,45798355,8467,MERCEDES-BENZ,CLK 200,1999,Coupe,300000,Silver
19233,45778856,15681,HYUNDAI,Sonata,2011,Sedan,161600,Red
19234,45804997,26108,HYUNDAI,Tucson,2010,Jeep,116365,Grey
19235,45793526,5331,CHEVROLET,Captiva,2007,Jeep,51258,Black
19236,45813273,470,HYUNDAI,Sonata,2012,Sedan,186923,White

In [286]:
df_cars = df_cars[df_cars["Price"] < 1000000]
df_cars

,ID,Price,Manufacturer,Model,Prod_year,Category,Mileage,Color
0,45654403,13328,LEXUS,RX 450,2010,Jeep,186005,Silver
1,44731507,16621,CHEVROLET,Equinox,2011,Jeep,192000,Black
2,45774419,8467,HONDA,FIT,2006,Hatchback,200000,Black
3,45769185,3607,FORD,Escape,2011,Jeep,168966,White
4,45809263,11726,HONDA,FIT,2014,Hatchback,91901,Silver
...,...,...,...,...,...,...,...,...
19232,45798355,8467,MERCEDES-BENZ,CLK 200,1999,Coupe,300000,Silver
19233,45778856,15681,HYUNDAI,Sonata,2011,Sedan,161600,Red
19234,45804997,26108,HYUNDAI,Tucson,2010,Jeep,116365,Grey
19235,45793526,5331,CHEVROLET,Captiva,2007,Jeep,51258,Black
19236,45813273,470,HYUNDAI,Sonata,2012,Sedan,186923,White

In [287]:
df_cars.head(100)

,ID,Price,Manufacturer,Model,Prod_year,Category,Mileage,Color
0,45654403,13328,LEXUS,RX 450,2010,Jeep,186005,Silver
1,44731507,16621,CHEVROLET,Equinox,2011,Jeep,192000,Black
2,45774419,8467,HONDA,FIT,2006,Hatchback,200000,Black
3,45769185,3607,FORD,Escape,2011,Jeep,168966,White
4,45809263,11726,HONDA,FIT,2014,Hatchback,91901,Silver
...,...,...,...,...,...,...,...,...
97,45749534,4234,HONDA,Civic,1997,Hatchback,0,Blue
98,45789555,15053,MERCEDES-BENZ,E 320,2004,Sedan,214000,Grey
99,45797276,15458,HYUNDAI,Genesis,2009,Coupe,123346,Black
100,45809760,2901,CHEVROLET,Cruze,2014,Sedan,80827,Green
101,45810325,706,PORSCHE,911,2013,Coupe,64464,Black

In [288]:
land_rover_cars = df_cars[df_cars["Model"] == "Range Rover Vogue"]
land_rover_cars

,ID,Price,Manufacturer,Model,Prod_year,Category,Mileage,Color
14839,45792307,297930,LAND ROVER,Range Rover Vogue,2019,Jeep,4500,Black

In [289]:
indices_to_drop = df_cars[df_cars["Model"] == "Range Rover Vogue"].index

# Eliminar las filas con los ndices encontrados y actualizar el DataFrame original
df_cars.drop(indices_to_drop, inplace=True)

/var/folders/6s/_0sz4qd138bbhl9jtknv8m000000gn/T/ipykernel_19525/3789558500.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cars.drop(indices_to_drop, inplace=True)

In [290]:
df_cars.to_csv('cars.csv', index="ID")

In [291]:
df_technique.to_csv('technique.csv', index="ID")

In [207]:
import pandas as pd
df = pd.read_csv("cars.csv")

In [211]:
from sklearn.preprocessing import LabelEncoder

# Crear una instancia del codificador
le = LabelEncoder()

# Ajustar y transformar la columna Manufacturer
df['Manufacturer_encoded'] = le.fit_transform(df['Manufacturer'])

# Verificar los primeros registros para asegurarnos de que la conversin fue correcta
print(df[['Manufacturer', 'Manufacturer_encoded']].head())

  Manufacturer  Manufacturer_encoded
0        LEXUS                    32
1    CHEVROLET                     8
2        HONDA                    21
3         FORD                    16
4        HONDA                    21

In [213]:
correlation = df[['Price', 'Manufacturer_encoded']].corr().iloc[0, 1]
print(f'Correlacin entre Precio y Fabricante: {correlation}')

Correlacin entre Precio y Fabricante: -0.06689391216843632

In [294]:
import pandas as pd
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication
from getpass import getpass

In [295]:
password = getpass() #Contrasea del servidor MySQL
connection_string = 'mysql+pymysql://root:'+password+'@localhost/Proyecto'
engine = create_engine(connection_string)
query = '''SELECT t.Fuel_type, ROUND(AVG(c.Price),0) AS "Average Price", ROUND(AVG(c.Mileage),0)
FROM cars AS c
JOIN technique as t
ON c.ID = t.ID
GROUP BY t.Fuel_type
ORDER BY AVG(c.Price) DESC;'''
data = pd.read_sql_query(query, engine) #Traer datos